body{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;  
	background-size: cover;
	 background-image: url(../images/img1.jpg);
}
.signin{
	background: rgba(0,0,0,0.4);
	padding: 50px;
	width: 380px;
	margin: auto;
	margin-top: 80px;
	height: 500px;
	margin-left: 600px;
	padding-left: 55px;
}
.form{
	width: 240px;
	text-align: center;
}
input
{
	width: 240px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Play',sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: #fff;
}
input[type=button]{
	border: none;
	width: 190px;
	background: white;
	color:black;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
}
input[type=button]:hover{
	color:white;
    background-color:black;
}
h2{
	color: white;
}
a{
	color: black;
	text-decoration: blink;
}
a:hover{
	color: skyblue;
}
.container{
	display: flex;
	flex-direction: row;
	width: 100%;
}
::placeholder {
	color: white;
	opacity: 0.8;
}

.top-nav-bar{
	height:57px; 
	top:0;
	position: sticky;
	background:#fff;
	margin-bottom:20px; 
	border-bottom:3px solid gold ;
	z-index: 2;
}

.search-box
{
	display: inline-flex;
	width:60%; 
}

.menu-bar{
	width: 40%;
	height: 57px;
	float: right;
}
.menu-bar ul{
	display: inline-flex;
	float: right;
}
.menu-bar ul li {
	border-left: 1px solid #fff;
	list-style-type: none;
	padding: 15px 35px;
	text-align: center;
	background-color: gold;
	cursor: pointer;
}
.menu-bar ul li a {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}



.fa-shopping-basket{
	margin-right: 5px;
}
@media only screen and (max-width:980px){
	.top-nav-bar{
		height: 118px;
		border-bottom: 0;
	}
	.search-box{
		width: 100%;
	}
	.menu-bar{
		width: 100%;
	}
	.menu-bar ul {
		margin: 10px 0;
		width: 100%;
	}
	.menu-bar ul li{
		height: 57px;
		width: 100%;
	}
}

.form-control{
	margin-top:9px; 
	margin-left:30px;
	border: 1px solid gold !important;
	border-top-left-radius: 20px !important;
	border-bottom-left-radius:20px !important;
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
	box-shadow: none !important;
}

.input-group-text{
	height: 37px;
	background: gold !important;
	border: 1px solid gold !important ;
	margin: 8.5px 10px 30px 0;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius:0px !important;
	border-bottom-right-radius: 50px !important;
	border-top-right-radius: 50px !important;
	cursor: pointer;

}

.fa-shopping-basket{
	margin-right: 5px;
}

.logo{
	height: 40px;
   margin: 5px 10px;
}



#menu-btn, #close-btn{
  font-size: 30px;
  margin: 10px;
  color: gold;
  display: none;

}


.footer{
	margin-top: 50px;
	background: #000;
	color: #fff;
}
.footer h1{
	font-size: 15px;
	margin: 25px 0;
}
.footer p{
	font-size: 12px;
}

.copyright{
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
	margin-bottom: -80px;

}
.fa-heart-o{
	color: gold;
	font-size: 15px;
}


.footer hr{
	margin-top: 10px;
	background-color: #ccc;
}
 
 .footer-images img{
 	width: 100px;
 }
 .footer  .row .fa{
 	padding-right: 20px;
 }